*{
    margin: 0px;
    padding: 0px;
}

.banner-conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-color:#E554731A;
    align-items: center;
    background-position: center;
}
.banner-photo{

    margin-bottom: 0px;
    flex-shrink: 0;
   
   padding-left: 260px;
  
}
.banner-text{
    padding-left: 190px;
    
     
}
.head-part{
    font-size: 40px;
    color: #272727;
font-family: Lato;
}
.btn{
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border: 0px;
border-radius: 8px;
background: #E55473;
color: white;
}
.second-part{
width: 100vw;
height: 100%;

}
.picturs{
    
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;

    margin: 80px 80px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
}
.hot-deal{
    width: 100vw;
    height: 100%;
    border-radius: 8px;
    display: flex;
background: rgba(229, 84, 115, 0.05);
justify-content: space-around;
align-items: center;

}
.right-side{
    width: 200px;
height: 300px;
margin: 25px 25px;
}
.left-side{
    color: #272727;
font-family: Lato;
font-size: 25px;
font-style: normal
}
.span{
    color: #E55473;
}
.sign{
    align-items: center;
    padding: 10px 25px;
    background-color: #E55473;
    border: 0px;
    border-radius: 0px;
    color: white;
    justify-content: center;
    margin-left: 120px;
}
.pera{
    font-size: 17px;
    font-family: normal;
}
.forth{
    width: 100vw;
    height: 100%;
}



.photo{
    
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 250px;

}
.four-photo{
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-left: 50px;
    gap: 5px;
    padding: 80px 80px;

}
.details{
    width: 100%;
    align-items: center;
    
    
}
.instra{
    align-items: center;
    padding-left: 60px;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.pera-two{
    width: 100%;
    display: flex;
width: 594px;
flex-direction: column;
align-items: center;
padding-left: 450px;
}

.back-photo{
    width: 800px;
    height: 50%;
    background-image: url('../asset/images/Rectangle\ 9.png');
    padding: 250px 250px;
    min-height: 0px;
    margin-right: 180px;
    align-items: center;
    background-size: 1000px;
    padding-left: 300px;
 background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.deals{
    align-items: center;
    margin: 130px 30px 30px 30px;
    padding-left: 240px;
    padding-top: 30px;
    color: #272727;
font-family: Lato;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.coupon{
    font-size: 16px;
    font-family: normal;
    align-items: center;
    padding-left: 30px;
}

.email{
    width: 400px;
    height: 35px;
    background-color: white;
    border: 0px;
    padding-left:10px;
}
.mail{
    padding-left: 140px;
    padding-top: 60px;
}


