*{
    margin: 0px;
    padding: 0px;
}

.body{
    overflow-x: hidden;
}
.banner-conteiner{
    width: 100vw;
    height: 100%;
    display: flex;
    background-color:#E554731A;
    align-items: center;
}
.banner-photo{

    padding-bottom: 0px;
   padding-left: 280px;
  
}
.banner-text{
    padding-left: 190px;
    
     
}
.head-part{
    font-size: 40px;
    color: #272727;
font-family: Lato;
}
.btn{
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.second-part{
width: 100vw;
height: 100%;
}
.picturs{
    
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
